<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
</head>
<body>
    <div class="container">
        <h1>All Users</h1>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                    {% for data in user.values() %}
                        <td class="align-middle">{{data}}</td>
                    {% endfor %}
                        <td>
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class='nav-link' href="/users/{{user['id']}}">Show</a>
                                </li>
                                <li class="nav-item">
                                    <a class='nav-link' href="/users/{{user['id']}}/edit">Edit</a>
                                </li>
                                <li class="nav-item">
                                    <a class='nav-link' href="/users/{{user['id']}}/destroy">Delete</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/users/new">Add a New User</a>
    </div>
</body>
</html>